SLEEWAVE_CACHE_DIR=.cache
SLEEWAVE_YTDLP_COOKIES=
SLEEWAVE_YTDLP_COOKIES_BASE64=
SLEEWAVE_YTDLP_COOKIES_FILE=cookies/yt_cookies.txt
SLEEWAVE_YTDLP_COOKIES_FROM_BROWSER=cookies/yt_cookies.txt
SLEEWAVE_VK_COOKIES_FILE=cookies/vk_cookies.txt
SLEEWAVE_REDIRECT_TO_ORIGINAL_URL=false
